* {
    font-family: 'Lato', sans-serif;
}

html, body {
    max-width: 1440px;
    margin: 0 auto;
}

ul.menu {
    color: #fff;
}


.social-icon-group {
    width: 96px;
}
.social-icon-group > svg {
    width: 24px;
    height: 24px;
    fill: #F85559;
    
}

.footer-social-group svg {
    fill: white;
}

.footer-sitelinks {
    color: white;
}